@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 1.5s ease, color 1.5s ease;
}

@layer base {
  h1 {
    @apply font-bold text-xl md:text-2xl xl:text-4xl
  }

  h2 {
    @apply font-extrabold text-2xl leading-5 sm:text-xl sm:leading-5 md:text-xl md:leading-6 xl:text-2xl xl:leading-6 2xl:text-3xl 2xl:leading-7
  }
}

@layer utilities {
  .dots {
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 15px 15px;
    background-position: 0px 0px;
    opacity: 0.05;
  }

  .dots-sm {
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 12px 12px;
    background-position: 0px 0px;
    opacity: 0.05;
  }

  .drop-shadow-3xl {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.35));
  }

  .drop-light-3xl {
    filter: drop-shadow(0 10px 8px rgb(255 255 255 / 0.15));
  }

  .title {
    @apply font-bold text-xl md:text-2xl xl:text-4xl
  }

  .subtitle {
    @apply font-bold text-lg md:text-xl xl:text-2xl xl:leading-6
  }

  .subtitle-p {
    @apply text-sm xl:text-base xl:leading-5
  }

  .bg-dark {
    background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8621.jpg?t=st=1720226810~exp=1720230410~hmac=9b2faf86c554caf9859e9ebbfc94bd00986f6474ffaafc8f089a59d78b85fce6&w=1380");
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-light {
    background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg?t=st=1720224817~exp=1720228417~hmac=5dfa820c4b0525e05c49a3f66cdb3dc7974af2299482f55bfcfde12e19347c58&w=1380");
    background-size: cover;
    background-attachment: fixed;
  }
}