@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 1.5s ease, color 1.5s ease;
}

@layer base {
  h1 {
    @apply font-bold text-xl md:text-2xl xl:text-4xl
  }

  h2 {
    @apply font-extrabold text-2xl leading-5 sm:text-xl sm:leading-5 md:text-xl md:leading-6 xl:text-2xl 2xl:text-3xl 2xl:leading-7
  }
}

@layer utilities {
  .dots {
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 15px 15px;
    background-position: 0px 0px;
    opacity: 0.05;
  }

  .dots-sm {
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 12px 12px;
    background-position: 0px 0px;
    opacity: 0.05;
  }

  .drop-shadow-3xl {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.35));
  }

  .drop-light-3xl {
    filter: drop-shadow(0 10px 8px rgb(255 255 255 / 0.15));
  }
}