@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 1s ease, color 1s ease;
}

@layer base {
  h1 {
    @apply font-bold text-xl md:text-2xl xl:text-4xl
  }

  h2 {
    @apply font-extrabold text-2xl leading-5 sm:text-xl sm:leading-5 md:text-xl md:leading-6 xl:text-2xl xl:leading-6 2xl:text-3xl 2xl:leading-7
  }
}

@layer utilities {
  .dots {
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 15px 15px;
    background-position: 0px 0px;
    opacity: 0.05;
  }

  .dots-sm {
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 12px 12px;
    background-position: 0px 0px;
    opacity: 0.05;
  }

  .drop-shadow-3xl {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.35));
  }

  .drop-light-3xl {
    filter: drop-shadow(0 10px 8px rgb(255 255 255 / 0.15));
  }

  .title {
    @apply font-bold text-xl md:text-2xl xl:text-4xl
  }

  .subtitle {
    @apply font-bold text-lg md:text-xl xl:text-2xl xl:leading-6
  }

  .subtitle-p {
    @apply text-sm xl:text-base xl:leading-5
  }

  .bg-dark {
    background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8621.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-dark::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
  }

  .bg-light {
    background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-light::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    z-index: 1;
  }
}